/* Centralização total da tela */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #4b0082, #25004a); 
  font-family: sans-serif;
}

.container {
  width: 900px;
  height: 550px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

/* LADO ESQUERDO (BRANCO) */
.left {
  width: 45%;
  background-color: #fdf6f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.left h2 {
  color: #3e007c;
  font-size: 32px;
  margin: 0;
  font-weight: 400;
}

.left h1 {
  color: #3e007c;
  font-size: 60px;
  margin: -10px 0 10px 0;
  font-weight: 800;
}

.left p {
  color: #3e007c;
  font-size: 16px;
}

/* LADO DIREITO (ROXO ESCURO) */
.right {
  width: 55%;
  background-color: #120024;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 60px;
}

.form {
  width: 100%;
}

.input-group {
  background-color: #e1e1ff; /* Cor clara dos inputs igual ao print */
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px 15px;
  margin-bottom: 15px;
  height: 25px;
}

.input-group input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
  color: #333;
}

.icon {
  color: #555;
  font-size: 16px;
}

.options {
  display: flex;
  justify-content: space-between;
  color: #c6b3dd;
  font-size: 13px;
  margin-bottom: 25px;
}

.options a {
  color: #c6b3dd;
  text-decoration: none;
}

/* BOTÃO ENTRAR (BRANCO) */
.btn {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #fff;
  color: #120024;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.social {
  text-align: center;
  color: #c6b3dd;
  margin: 20px 0;
  font-size: 13px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.icon-btn {
  width: 40px;
  height: 40px;
  background: #342a73;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

/* BOTÃO CADASTRE-SE (ROXO MÉDIO) */
.btn-cadastro {
  display: block;
  width: 100%;
  padding: 15px;
  background: #342a73;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
}