.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  animation: fadeIn 0.3s ease-in-out;
}

.loading {
  color: #ffff;

}
.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top-color: #33153d;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

p {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
